venv/
__pycache__/   
.env
application/.DS_Store
google_secret.json
gmail_refresh_token.json

# SAML2 private keys, metadata files
application/features/auth/saml_certs/*.xml
application/features/auth/saml_certs/*.key
application/features/versionHistory/document_Structure.txt
